<section class="author">
  <div class="authorimage box" style="background: url({{site.baseurl}}/assets/img/logo.png)"></div>
  <div class="authorinfo box">
    <p>Author | Theo Dzierzbicki</p>
    <p class="bio">
    IT engineer, long time <a href=https://www.gnu.org/philosophy/free-sw.en.html>Free Software</a> enthousiast. Graduate from the <a href=https://www.insa-lyon.fr/en/>INSA Lyon</a>, former <a href=https://summerofcode.withgoogle.com/>GSoC student</a> for the <a href=http://jatovm.org/>JatoVM</a> project.
    </p>
  </div>
</section>
